@import url('https://fonts.googleapis.com/css?family=Dosis:800|Lobster|Pacifico');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #FFB3C3;
}

#noButton {
  font-family: 'Dosis';
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
  border: solid 2px #FCE3E9;
}

#yesButton {
  font-family: 'Dosis';
  position: absolute;
  margin-right: 200px;
  transition: 0.5s;
  border: solid 2px #FCE3E9;
}

.header_text {
  font-family: 'Dosis';
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  color: #FFB3C3;
  background: white;
  padding: 10px 20px;
  border-radius: 15px;
  border: 3px solid #FCE3E9;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.buttons {
  font-family: 'Dosis';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: #ffffff;
  color: rgb(233, 48, 48);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.image-1 {
  width: 400px;
}

@media only screen and (max-width: 320px) {
  body {
      height: 100vh;
  }

  .header_text {
      font-size: 20px;
  }

  .image-1 {
    width: 400px;
  }

  .btn {
      padding: 10px 18px;
      font-size: 14px;
  }
}

@media only screen and (max-width: 470px) {
  body {
      height: 90vh;
  }

  .header_text {
      font-size: 28px;
  }

  .image-1 {
      width: 400px;
  }

  .btn {
      padding: 15px 25px;
      font-size: 14px;
  }
}
