@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  font-family: 'Itim', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  background-color: #fff;
  background-image: url(/8382922.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.box {
  background: #e91e63;
  padding: 100px 60px;
  color: #fff;
  width: 50%;
  text-align: center;
  margin: 25vh auto;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.box h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px;
}

.top-border:before {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  background: url(/tree-border.png);
  background-size: cover;
  top: 20px;
  left: 20px;
}

.top-border:after {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  background: url(/tree-border.png);
  background-size: cover;
  top: 20px;
  right: 20px;
  transform: rotate(90deg);
}

.bottom-border:before {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  background: url(/tree-border.png);
  background-size: cover;
  bottom: 20px;
  left: 20px;
  transform: rotate(270deg);
}

.bottom-border:after {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  background: url(/tree-border.png);
  background-size: cover;
  bottom: 20px;
  right: 20px;
  transform: rotate(180deg);
}

.box img {
  width: 100px;
}

.love {
  display: inline-block;
  font-size: 42px;
}
@keyframes palse {
  0%{ transform: scale(1);}
  50%{transform: scale(1.3);}
  100%{transform: scale(1);}
}